@import "pokemon"
@import "scrolltotop"


#google-ptc-switch
  padding: 1em 4em
  label
    margin-right: 2em

.pointer
  cursor: pointer

#poketable-head
  background-color: white

.btn
  margin-right: 0.5em

.currency_image
  max-height: 1.5em

// fixed poketable header
#poketable-header-wrapper
  background: lightgreen
  position: fixed
  height: 4em
  top: 0
  bottom: 0
